@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e9f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 5px;
  border: 2px solid #535BF2;
}

.item-tarea-completada {
  text-decoration: line-through;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 1px;
  margin-bottom: 1rem;
  cursor: pointer;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.boton {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.registro-tareas{
  padding: 10px;
}

.tarea-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.registro-tareas::placeholder {
  color: #1A1A40;
}

#agrega{
  height: 25px;
  width: 60%;
  margin: 20px;
}
