@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e9f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 5px;
  border: 2px solid #535BF2;
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
  color: #fff;
	font-weight: 500;
}

.counter-todos span {
	color: #535BF2;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 1px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.input-update {
	border: 1px solid #8758ff;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #fff;
	width: 100%;
  outline: none;
  background: none;
	/* background-color: #000; */
}

.add-tarea h3 {
  color: #fff;
	font-weight: 500;
}

.input-Agregar {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 400px;
  color: #fff;
}

.container-done {
	background-color: #535BF2;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px;
	cursor: pointer;
}

.text-decoration-dashed {
	text-decoration: line-through;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}

form {
	display: flex;
  gap: 10px;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.boton {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.boton:hover{
  background-color: #535BF2;
}

#agrega{
  height: 25px;
  width: 60%;
  margin: 20px;
}
